<div class="main-container">

    <app-header [sidenav]="sidenav"></app-header>

    <mat-sidenav-container>
        <mat-sidenav #sidenav class="w-10p">
            <mat-list>
                <mat-list-item (click)="sidenav.toggle()">
                    <mat-icon>home</mat-icon>
                    <span class="ml-15">
                        <a href="/">Home</a>Home
                    </span>
                    
                </mat-list-item>
            </mat-list>
        </mat-sidenav>

        <mat-sidenav-content>
            
            <h1>Isso é uma aplicação de teste do curso de angular</h1>

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

    <app-footer></app-footer>

</div>
